<form >
    <div class="container">
        <div class="jumbotron">
            <h2>Register Property</h2>
            <br>
            <p>Please fill this form to register the property</p>

            <hr>

            <label for="pname"><b>Property Name</b></label>
            <input type="text" placeholder="Property Name" name="pname" id="pname" required >

            <label for="location"><b>Property Location</b></label>
            <input type="text" placeholder="Location" name="location" id="location" required >

            <label for="rent"><b>Property Rent</b></label>
            <input type="text" placeholder="Rent" name="rent" id="rent" required >
            <br>

            <label for="leasetime"><b>Property Lease Time</b></label>
            <input type="text" placeholder="Leasetime (In Months)" name="leasetime" id="leasetime" required >


            <button type="submit" class="registerbtn" ><a style="text-decoration: none; color: white;" routerLink="/dashboard">Register</a></button>

        </div>
    </div>
</form>